.about-us{
    min-height: 100vh;
    align-items: flex-end;
}
ul{
    list-style: none;
}

.about{
    display: block;
    font-size: 18px;
    color: rgb(61, 61, 61);
    margin-top: 10px;
}
.list li{
    display: flex;
    margin-top: 10px;
    font-weight: 500;
    color: rgb(56, 56, 56);
}
.list .bi{
    color: orangered;
    font-weight: 900;
    margin-right: 5px;
}
.circle{
    display: flex;
    position: absolute;
    z-index: -1;
    top: 50px;
    right: 15%;
    height: 400px;
    width: 400px;
    border-radius: 50%;
    background: linear-gradient(to right, orangered, transparent);
}
@media screen and (max-width: 900px) {
    .about-us{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .underline{
        display: flex;
        margin: auto;
    }
    .circle{
        top: 700px;
        background: linear-gradient(to right, orangered, orange, transparent);
        filter: blur(100px);
    }
    .about-text{
        padding-bottom: 40px;
    }
    .about{
        font-size: 16px;
    }
}