.reviewWrapper{
        overflow: scroll;
        gap: 10px;
        display: flex;
}
.review{
    display: flex;
    background-color: rgb(255, 220, 208);
    padding: 20px;
    border-radius: 10px;
    gap: 10px;
    min-width: 500px;
}
.review img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
}
.reviewDetails .bi-quote{
    font-size: 60PX;
    right: 20PX;
    line-height: 40px;
    color: royalblue;
}
.reviewDetails p{
    font-size: 12px;
}
.ratings{
    color: rgb(231, 209, 12);
}
@media screen and (max-width: 900px) {
    .reviewWrapper{
        margin-top: 20px;
    }
    .review{
        min-width: 400px;
        max-width: 90%;
    }
}